<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf5mbzKgI4Rm48XEXbxQzz-FsOkafIdOE</string>
	<key>GCM_SENDER_ID</key>
	<string>100630663353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nhl.ziraat.zt</string>
	<key>PROJECT_ID</key>
	<string>ziraat-94960</string>
	<key>STORAGE_BUCKET</key>
	<string>ziraat-94960.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100630663353:ios:7893de059ba139bf83cb68</string>
</dict>
</plist>